<div class="text-center">
  <input #file class="form-control" type="file" name="file"
         (change)="onChange($event)" hidden>

  <button (click)="onUpload()"
          class="btn btn-success">
    Upload
  </button>
</div>

<!-- Shareable short link of  uploaded file -->
<div class="container text-center jumbotron"
     *ngIf="shortLink">
  <h2> Visit Here</h2>
  <a href="{{shortLink}}">{{shortLink}}</a>
  <div><img width="100px" height="70px" [src]="image"  alt="impage"/></div>
</div>

<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
  <h3>Loading ...</h3>
</div>
