<div class="parent">
  <div class="text-center" *ngIf="shortLink">
    <div><img width="100px" height="70px" [src]="image"  alt="impage"/></div>
  </div>
  <div class="text-center" *ngIf="!shortLink">
    <input #file class="form-control" type="file" name="file"
           (change)="onChange($event)" hidden>

    <button type="button" (click)="onUpload()"
            class="btn btn-success">
      Upload
    </button>
  </div>
  <!--Flag variable is used here-->
  <div class="container" *ngIf="loading">
    <h3>Loading ...</h3>
  </div>
</div>
