<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav navbar-right float-end ms-auto">
    <li *ngIf="!logged" class="m-1"><a class="btn btn-secondary" routerLink="/subscribe">Subscribe</a></li>
    <li *ngIf="!logged" class="m-1"><a class="btn btn-secondary" routerLink="/login">Login</a></li>
    <li *ngIf="logged"  class="m-1" ngbDropdown #drop="ngbDropdown">
      <a class="nav-link" ngbDropdownToggle href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ email }}
      </a>
      <div ngbDropdownMenu="navbarDropdownMenuLink" class="" aria-labelledby="navbarDropdownMenuLink">
        <a ngbDropdownItem  href="#" [routerLink]="['income']">Revenus</a>
        <a ngbDropdownItem  href="#">Another action</a>
        <a ngbDropdownItem  href="#">Something else here</a>
      </div>
    </li>
  </ul>
</nav>
