<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav navbar-right float-end ms-auto">
    <li *ngIf="!logged" class="m-1"><a class="btn btn-secondary" routerLink="/subscribe">Subscribe</a></li>
    <li *ngIf="!logged" class="m-1"><a class="btn btn-secondary" routerLink="/login">Login</a></li>
    <li *ngIf="logged"  class="m-1" ngbDropdown #drop="ngbDropdown">
      <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ email }}
      </a>
      <div ngbDropdownMenu="navbarDropdownMenuLink" class="" aria-labelledby="navbarDropdownMenuLink">
        <a  ngbDropdownItem   [routerLink]="['waiting']">Mes reservations</a>
        <a  ngbDropdownItem   [routerLink]="['current']">Mes objets en cours</a>
        <a  ngbDropdownItem   [routerLink]="['done']">Mes objets déja rendu</a>
        <a *ngIf="isMember" ngbDropdownItem   [routerLink]="['income']">Revenus</a>
        <a ngbDropdownItem   [routerLink]="['card']">Compléter une carte</a>
        <a *ngIf="isMember" ngbDropdownItem   [routerLink]="['coin']">Coin</a>
        <a *ngIf="isMember" ngbDropdownItem   [routerLink]="['add']">Proposez un objet</a>
        <a ngbDropdownItem   [routerLink]="['/']">Home</a>
        <a ngbDropdownItem  (click)="logout()">Déconnection</a>
      </div>
    </li>
  </ul>
</nav>
