<div class="header-title">
  <div class="container title">Partager vos objets du quotidien</div>
  <div class="container subtitle">Dans un local de quartier, déposez, partagez et louer vos objets pour touchez une rente.</div>
</div>
<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div><app-search [all]="true" (onChangeId)="selectThing($event)"></app-search></div>
  <ul class="nav navbar-nav navbar-right float-end ms-auto">
    <li class="m-1"><app-basket></app-basket></li>
    <li *ngIf="!logged" class="m-1"><a class="btn btn-secondary" routerLink="/subscribe">Subscribe</a></li>
    <li *ngIf="!logged" class="m-1"><a class="btn btn-secondary" routerLink="/login">Login</a></li>
    <li *ngIf="logged"  class="m-1" ngbDropdown #drop="ngbDropdown">
      <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ email }}
      </a>
      <div ngbDropdownMenu="navbarDropdownMenuLink" class="" aria-labelledby="navbarDropdownMenuLink">
        <a  ngbDropdownItem   [routerLink]="['waiting']">Mes reservations</a>
        <a  ngbDropdownItem   [routerLink]="['current']">Mes objets en cours</a>
        <a  ngbDropdownItem   [routerLink]="['done']">Mes objets déja rendu</a>
        <a *ngIf="isMember" ngbDropdownItem   [routerLink]="['income']">Revenus</a>
        <a ngbDropdownItem   [routerLink]="['card']">Compléter une carte</a>
        <a *ngIf="isMember" ngbDropdownItem   [routerLink]="['coin']">Coin</a>
        <a *ngIf="isMember" ngbDropdownItem   [routerLink]="['add']">Proposez un objet</a>
        <a ngbDropdownItem   [routerLink]="['/']">Home</a>
        <a ngbDropdownItem  (click)="logout()">Déconnection</a>
      </div>
    </li>
  </ul>
</div>
<div class="header-subtitle">
  <div class="container">
    <div>Vous pouvez être membres ou utilisateurs:</div>
    <ul>
      <li>les membres déposent leurs objets et les partagent avec une monaie d'échange.</li>
      <li>Les utilisteurs louent des objets sans avoir besoin d'en déposer, et ainsi les membres perçoivent un rente.</li>
    </ul>
  </div>
</div>

