<div class="form-group" [formGroup]="form">
  <div *ngIf="!edit && type!='pictures'" class="form-control">
    {{ model[field] }}
    <button class="btn btn-primary" (click)="edit=true">Edit</button>
  </div>
  <div *ngIf="edit && type!='pictures'">
    <input class="form-control" formControlName="property"/>
    <button class="btn btn-danger" (click)="save()">Save</button>
  </div>
  <div *ngIf="type=='pictures'">
    <app-pictures formControlName="property"></app-pictures>
    <button class="btn btn-danger" (click)="save()">Save</button>
  </div>
</div>
