
  <div class="calendar-base">

    <div class="year">{{ currentDay.year}}</div>
    <!-- year -->

    <div (click)="removeYear()" class="triangle-left"></div>
    <!--triangle -->
    <div (click)="addYear()" class="triangle-right"></div>
    <!--  triangle -->

    <div class="months">
      <span (click)="setMonth(0)" [ngClass]="{'month-hover': currentDay.month != 0 , 'month-color': currentDay.month == 0}" >Jan</span>
      <span (click)="setMonth(1)" [ngClass]="{'month-hover': currentDay.month != 1 , 'month-color': currentDay.month == 1}">Feb</span>
      <span (click)="setMonth(2)" [ngClass]="{'month-hover': currentDay.month != 2 , 'month-color': currentDay.month == 2}">Mar</span>
      <strong (click)="setMonth(3)" [ngClass]="{'month-hover': currentDay.month != 3 , 'month-color': currentDay.month == 3}">Apr</strong>
      <span (click)="setMonth(4)" [ngClass]="{'month-hover': currentDay.month != 4 , 'month-color': currentDay.month == 4}">May</span>
      <span (click)="setMonth(5)" [ngClass]="{'month-hover': currentDay.month != 5 , 'month-color': currentDay.month == 5}">Jun</span>
      <span (click)="setMonth(6)" [ngClass]="{'month-hover': currentDay.month != 6 , 'month-color': currentDay.month == 6}">July</span>
      <span (click)="setMonth(7)" [ngClass]="{'month-hover': currentDay.month != 7 , 'month-color': currentDay.month == 7}">Aug</span>
      <span (click)="setMonth(8)" [ngClass]="{'month-hover': currentDay.month != 8 , 'month-color': currentDay.month == 8}">Sep</span>
      <span (click)="setMonth(9)" [ngClass]="{'month-hover': currentDay.month != 9 , 'month-color': currentDay.month == 9}">Oct</span>
      <span (click)="setMonth(10)" [ngClass]="{'month-hover': currentDay.month != 10 , 'month-color': currentDay.month == 10}">Nov</span>
      <span (click)="setMonth(11)" [ngClass]="{'month-hover': currentDay.month != 11 , 'month-color': currentDay.month == 11}">Dec</span>
    </div><!-- months -->
    <hr class="month-line" />

    <div class="days">DIM LUN MAR MER JEU VEN SAM</div>
    <!-- days -->

    <div class="num-dates">

      <div *ngFor="let week of month;let i = index;" class="week">
        <span *ngFor="let date of week;let j = index;"
              (click)="selectDay($event,date, i, j )"
              [ngClass]="{
              'grey' : date.outside,
              'green' : date.today,
              'yellow' : date.selected,
              'red' : date.blocked,
              'cornerLeft' : date.start || date.startSelected,
              'cornerRight': date.end || date.endSelected
              }" class="day"> {{ date.d}}</span>
      </div>
    </div>

    <div class="book">
      <button (click)="book()" class="btn btn-primary">Réserver</button>
    </div>
  </div>
